<section id='post-container' class="user-post">
  <article class="post">
    <header>            
      <% if (page.date) { %>
        <time datetime="<%=page.date.toJSON()%>"><%=date(page.date)%></time>
      <% } %>
      <h1><%=page.title%></h1>
    </header>
    <section class="article-content">
      <%- page.content %>
    </section>
  </article>
</section>