// Set up normalize
@import 'vendors/_normalize';
@include normalize;

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova-regular.otf') format("opentype");
    font-weight: regular;
}

@font-face {
    font-family: 'Freight Sans';
    src: url('../fonts/freight-sans-bold.woff') format("woff");
    font-weight: bold;
}

@import 'base/_base';

/* Navigation */

#main-nav {
  display: block;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 99;
}

figure#hamburger {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  border-radius: 100%;
  margin-top: 25px;
  margin-right: 25px;
  background-color: #000;
  z-index: 101;
  border: 3px solid transparent;
  outline: none;
}

figure#hamburger span {
  display: block;
    position: absolute;
    height: 3px;
    width: 20px;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

figure#hamburger span:nth-child(1) {
  top: 6px;
}

figure#hamburger span:nth-child(2), figure#hamburger span:nth-child(3) {
  top: 13px;
}

figure#hamburger span:nth-child(4) {
  top: 20px;
}

#main-nav.open figure#hamburger span:nth-child(1) {
  top: 13px;
  width: 0%;
  left: 50%;
}

#main-nav.open figure#hamburger span:nth-child(4) {
  top: 13px;
  width: 0%;
  left: 50%;
}

#main-nav.open figure#hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px;
}

#main-nav.open figure#hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 13px;
}

#main-nav ul {
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  background: #fff;
  min-width: 150px;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #f0f0f0;
  margin-right: 25px;
  padding-top: 75px;
  margin-left: 25px;  
  list-style-type: none;
  text-align: right;
  transform: translate3d(350px, 0, 0);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
}

#main-nav.open ul {
  transform: translate3d(0px, 0, 0);
}

#main-nav ul li {
  padding: 10px 0px;
}

#nav-title {
  margin-top: 25px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 1.5em;
}

#nav-title > a:link {
  color: #008AFF;
}

#logo-small {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background-color: #008AFF;

}

.separator_title {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 600px;
    padding: 0 10px;
    text-transform: uppercase;
    display:none;
}

#home-header {
  margin: auto;
  margin-top: 130px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  max-width: 600px;
  text-align: center;
  color: #008AFF;
}

#logo-large {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #008AFF;
  margin: 0 auto;
}



#home-header > h1 {
  text-transform: uppercase;
}

article > header > time {
  font-size: .8em;
  font-family: 'Freight Sans';
  font-weight: bold;
  opacity: 0.05;
  text-transform: uppercase;
  color: #1d1d1d;
  -webkit-font-smoothing: antialiased;
  transition-property: all;
  transition-duration: 0.5s;
}

article > header > time:hover {
  opacity: 1;
}

article > header > h1 {
  margin-top: 0;
  margin-bottom: 0;
}

article > header > h1 > a:link {
  color: #000;
  border: none;
}

article > header > h1 > a:hover {
  color: #008AFF;
}

.article-content {
  margin-bottom: 20px;
}

section.article-content a:link {
  border-bottom: 2px solid #e1e1e1;
}

section.article-content a:hover {
  border-bottom: 2px solid #008AFF;
}

#post-container {
  margin-top: 130px;
}

#post-container.user-home {
  margin-top: 30px;
}

article.post {
  max-width: 600px;
  padding: 0 10px;
  margin: auto;
}

footer#main-footer {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 10px;
}

hr.article-split {  
  width: auto;
  max-width: 100%;
  border-top: 1px solid #f0f0f0;
  margin-top: 70px;
  margin-bottom: 50px;
}

#pagination {
  margin: auto;
  max-width: 600px;
  color: #4D4D4D;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 767px) {
  div#main-container {
    margin-top: 30px;
  }

  figure#hamburger {
    margin-top: 10px;
    margin-right: 10px;
  }

  #main-nav {
    border-bottom: 1px solid #f0f0f0;
  }

  #main-nav ul {
    margin-right: 10px;
    padding-top: 60px;
  }

  figure#hamburger span {
    left: 4px;
  }

  #main-nav.open figure#hamburger span:nth-child(2) {
    top: 13px;
    left: 4px;
  }

  #main-nav.open figure#hamburger span:nth-child(3) {
    top: 14px;
    left: 4px;
  }

  #main-nav.homepage{
    border-bottom: none;
  }

  #nav-title {
    margin: 13px auto;
    text-align: center;
    font-size: 1.5em;
  }
  
  #logo-small {
    margin-top: 10px;
    margin-left: 10px;
    width: 34px;
    height: 34px;
  }

  #home-header {
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }

  section#post_container {
    margin-top: 100px;
  }
}